org: skierkowski # Enter your tenant name here
app: workshop # Enter your application name here
service: fullstack-tasks # update

provider:
  name: aws
  runtime: nodejs8.10
  region: us-east-1
  environment:
    url: ${param:endpoint}

functions:
  testEndpoint:
    handler: handler.testEndpoint
    events:
      - schedule: rate(5 minutes)
